// .marmelad-R {
//   font-family: "Marmelad";
//   font-weight: 400;
//   font-style: normal;
// }

// .GenSenRounded2JP-M {
//   font-family: 'GenSenRounded2JP-M';
// }

.nav-link {
  font-family: 'GenSenRounded2JP-M';
}