.product-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  // --- 左側圖片區 ---//
  &__gallery {
    width: 100%;

    @media (min-width: 992px) {
      flex: 0 0 526px;
      width: 526px;
    }
  }

  &__viewer {
    width: 100%;
    position: relative;
    aspect-ratio: 351 / 345;
    border-radius: 12px;
    overflow: hidden;
    background-color: $gray-100;

    @media (min-width: 992px) {
      aspect-ratio: 526 / 517;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__arrow {
    display: none;

    @media (min-width: 992px) {
      display: flex;
    }

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0;

    &--prev {
      left: 16px;
      img {
        transform: rotate(180deg);
      }
    }
    &--next {
      right: 16px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // --- 分頁點控制 ---//
  &__indicators {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;

    @media (min-width: 992px) {
      display: none;
    }
  }

  &__indicator-dot {
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background: none;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba($white, 0.5);
    transition: all 0.3s;

    &.is-active {
      background-color: $white;
      width: 20px;
      border-radius: 4px;
    }
  }

  &__thumbs {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: 992px) {
      margin-top: 24px;
    }
  }

  &__thumb-item {
    flex: 0 0 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;

    @media (min-width: 992px) {
      flex: 0 0 140px;
      height: 140px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // --- 右側資訊區 ---
  &__info {
    margin-top: 20px;
    width: 100%;

    @media (min-width: 992px) {
      flex: 1;
      margin-top: 0;
      margin-left: 120px;
    }
  }

  &__breadcrumb {
    font-family: "GenSenRounded2JP-R";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $blue;
    margin-bottom: 16px;

    @media (min-width: 992px) {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }

  &__breadcrumb-link {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }

  &__breadcrumb-current {
    color: $black;
    cursor: default;
  }

  &__header {
    margin-bottom: 20px;

    @media (min-width: 992px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-family: "GenSenRounded2JP-M";
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: $black;
    margin-bottom: 16px;

    @media (min-width: 992px) {
      font-size: 36px;
      margin-bottom: 24px;
    }
  }

  &__description {
    font-family: "GenSenRounded2JP-R";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $gray-600;
    white-space: pre-line;
    margin-bottom: 16px;

    @media (min-width: 992px) {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }

  &__freebienote {
    font-family: "GenSenRounded2JP-R";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $black;
    margin-bottom: 16px;

    @media (min-width: 992px) {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }

  &__price {
    font-family: "GenSenRounded2JP-M-Full";
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $black;
    margin-bottom: 0;

    @media (min-width: 992px) {
      font-size: 36px;
    }
  }

  // 尺寸與數量的列排版
  &__options-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;

    @media (min-width: 992px) {
      margin-bottom: 40px;
    }
  }

  //-- 尺寸下拉選單 --//
  &__field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc((100% - 20px) / 2);

    @media (min-width: 992px) {
      gap: 8px;
      width: auto;
    }
  }

  &__label {
    font-family: "GenSenRounded2JP-R";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $black;

    @media (min-width: 992px) {
      font-size: 20px;
    }
  }

  // 尺寸下拉選單
  &__select-wrapper {
    width: 100%;
    @media (min-width: 992px) {
      width: 315px;
    }
  }

  &__select {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    font-family: "GenSenRounded2JP-R-Full";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $black;
    border: 1px solid $gray-300;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    background-image: url("/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 24px;
    transition: box-shadow 0.2s ease-in-out;

    @media (min-width: 992px) {
      height: 59px;
      font-size: 18px;
    }

    &:focus {
      outline: none;
      border-color: $blue-400;
      box-shadow: 0 0 0 4px rgba($blue-400, 0.25);
    }
  }

  // 數量控制器
  &__quantity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $gray-300;
    border-radius: 4px;
    height: 48px;
    padding: 0 8px;
    background-color: transparent;

    @media (min-width: 992px) {
      width: 315px;
      height: 59px;
    }

    .product-main__qty-btn {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      padding: 0;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s;

      @media (min-width: 992px) {
        width: 36px;
        height: 36px;
      }

      &:hover:not(:disabled) {
        background-color: rgba($orange-400, 0.1);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .product-main__qty-input {
      flex: 1;
      width: 0;
      border: none;
      text-align: center;
      font-family: "GenSenRounded2JP-M-Full";
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      color: $black;
      background: transparent;
      outline: none;
      padding: 0;

      @media (min-width: 992px) {
        font-size: 20px;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  // 【按鈕】加入購物車、立即購買
  &__action {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 20px;
      margin-bottom: 40px;
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    border-radius: 4px;
    font-family: "GenSenRounded2JP-R";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;

    @media (min-width: 992px) {
      width: 315px;
      padding: 20px 28px;
      font-family: "GenSenRounded2JP-M";
      font-size: 20px;
      font-weight: 500;
    }

    //-- 【按鈕】加入購物車 --//
    &--cart {
      background-color: transparent;
      border: 1px solid $blue;
      color: $blue;

      &:hover {
        background-color: $blue-800;
        border: none;
        color: $white;
      }

      .product-main__btn-icon {
        width: 24px;
        height: 24px;
        margin-left: 12px;
        object-fit: contain;
      }
    }

    //-- 【按鈕】立即購買 --//
    &--buy {
      background-color: $blue;
      border: 1px solid #8b5e3c;
      color: $white;

      &:hover {
        background-color: darken(#8b5e3c, 5%);
      }
    }
  }

  // 【按鈕】加入追蹤清單
  &__wishlist {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__wishlist-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $gray-700;
    transition: opacity 0.3s;
    font-family: "GenSenRounded2JP-R";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    @media (min-width: 992px) {
      font-size: 20px;
    }

    .product-main__wishlist-icon {
      width: 32px;
      height: 32px;
      box-shadow: 0 0 0 1px $blue-300;
      border-radius: 50%;
      margin-right: 12px;
      object-fit: cover;
      transition: all 0.3s ease;

      @media (min-width: 992px) {
        width: 40px;
        height: 40px;
      }
    }

    &:hover .product-main__wishlist-icon {
      box-shadow: 0 0 0 1px $blue-800;
    }
  }
}

//-- 加購商品 --//
.product-addon {
  margin-bottom: 40px;

  @media (min-width: 992px) {
    margin-bottom: 120px;
  }

  &__title {
    font-family: "GenSenRounded2JP-R-Full";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    padding: 12px 20px;
    margin: 0;
    background-color: $body-bg2;
    border-radius: 4px;

    @media (min-width: 992px) {
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 20px 0;
    margin: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
      overflow-x: visible;
    }
  }

  &__item {
    flex: 0 0 257px;
    scroll-snap-align: start;
    background: transparent;
    border: 1px solid $blue-400;
    border-radius: 4px;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      grid-column: span 3;
      width: auto;
      padding: 16px 20px;
      border-radius: 12px;
    }
  }

  &__header-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    @media (min-width: 992px) {
      margin-bottom: 20px;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 8px;
    border-radius: 8px;

    @media (min-width: 992px) {
      width: 100px;
      height: 100px;
      margin-right: 16px;
      border-radius: 4px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: "GenSenRounded2JP-R-Full";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $black;

    @media (min-width: 992px) {
      font-size: 18px;
    }
  }

  &__control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: auto;
    width: 100%;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }

  &__qty {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: transparent;
    border: 1px solid $gray-300;
    border-radius: 4px;

    @media (min-width: 992px) {
      flex: 0 0 140px;
      height: 52px;
      padding: 8px 8px;
    }

    &-btn {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      padding: 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s;

      @media (min-width: 992px) {
        width: 36px;
        height: 36px;
      }

      &:hover:not(:disabled) {
        opacity: 0.8;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-num {
      flex: 1;
      // min-width: 0;
      text-align: center;
      font-family: "GenSenRounded2JP-M-Full";
      font-weight: 500;
      font-size: 14px;
      color: $black;

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }
  }

  &__add-btn {
    height: 32px;
    padding: 0;
    background-color: transparent;
    border: 1px solid $blue;
    color: $blue;
    border-radius: 4px;
    font-family: "GenSenRounded2JP-R-Full";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    @media (min-width: 992px) {
      flex: 1;
      width: auto;
      height: 52px;
      font-size: 18px;
    }

    &:hover {
      background-color: #8b5e3c;
      color: $white;
    }
  }
}

.product-detail {
  margin-top: 40px;

  @media (min-width: 992px) {
    margin-top: 100px;
  }
}

// 商品詳細頁的容器
.detail-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;

  @media (min-width: 992px) {
    max-width: 1076px;
    padding-left: 0;
    padding-right: 0;
  }
}

.product-details {
  position: relative;
  background-color: $body-bg2;
  padding-top: 61px;
  padding-bottom: 100px;

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 200px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background-color: $body-bg;
    background-image: url("/pattern.png");
    background-repeat: repeat-x;
    background-size: 100% 41px;
    background-position: top center;
    pointer-events: none;
    z-index: 0;

    @media (min-width: 992px) {
      height: 100px;
      background-size: 100% 100px;
    }
  }

  &__nav {
    background-color: rgba($blue, 0.7);
    border-radius: 48px;
    padding: 12px 16px;
    margin-bottom: 20px;

    position: sticky;
    top: 20px;

    @media (min-width: 992px) {
      padding: 16px 0;
      margin-bottom: 36px;
      top: 20px;
    }

    &-list {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 0;
      border-radius: 48px;
      overflow: hidden;

      @media (max-width: 991px) {
        overflow-x: auto;
        flex-wrap: nowrap;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      @media (min-width: 992px) {
        justify-content: center;
        gap: 60px;
      }
    }

    &-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      color: inherit;
      user-select: none;

      background: none;
      border: none;
      cursor: pointer;
      white-space: nowrap;
      border-radius: 48px;
      padding: 8px 16px;
      color: $white;
      font-family: "GenSenRounded2JP-M-Full";
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      transition: all 0.3s ease;

      @media (min-width: 992px) {
        padding: 12px 28px;
        font-size: 20px;
      }

      &.active {
        background-color: $blue-200;
        color: $blue;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 992px) {
      gap: 36px;
    }
  }
}

// 卡片內容
.product-section {
  width: 100%;

  &__card {
    background-color: $body-bg;
    border-radius: 20px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;

    @media (min-width: 992px) {
      padding: 40px 120px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 32px;
    }
  }

  &__card--shipping {
    @media (max-width: 991px) {
      gap: 12px;
    }
  }

  &__info {
    @media (min-width: 992px) {
      flex: 1;
    }
  }

  &__title {
    font-family: "GenSenRounded2JP-M-Full";
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $black;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__body {
    font-family: "GenSenRounded2JP-R-Full";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $gray-600;
    white-space: pre-line;

    @media (min-width: 992px) {
      font-size: 20px;
    }
  }

  &__subheading {
    font-family: "GenSenRounded2JP-M-Full";
    font-weight: 500;
    color: $blue;
  }

  &__img {
    width: 100%;
    aspect-ratio: 311/220;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;

    @media (min-width: 992px) {
      width: 306px;
      height: 400px;
      aspect-ratio: 306/400;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__img--shipping {
    @media (max-width: 991px) {
      aspect-ratio: 311/157;

      img {
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
