@import "bootstrap/scss/functions";

//custom
@import './base/base.scss';
@import "./vendors/bootstrap/variables";
@import "./layout/Footer.scss";
@import "./layout/Header.scss";
@import "./pages/customer/products";

@import "bootstrap/scss/bootstrap";