@import "bootstrap/scss/functions";

//custom
@import "./base/base.scss";
@import "./vendors/bootstrap/variables";
@import "./layout/Footer.scss";
@import "./layout/Header.scss";

@import "bootstrap/scss/bootstrap";
@import "./pages/customer/products";
@import "./pages/customer/productDetail";
@import "./pages/customer/faqs";
